.header-container{
    box-shadow: 0px 5px 15px grey;
    line-height: 80px;
}
.logo{
    height: 25px;
}
.header-container a{
    text-decoration: none;
    margin: 0px 10px;
}
.header-container .log-sign{
    margin-left: 20px;
    border: 1px solid grey;
    padding: 5px;
}